body {
    background-color: rgba(255, 255, 0, 0.584);
}

.heading {
    width: 277px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxes{
}
/* ol{
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
} */
.box {
    height: 100px;
    width: 100px;
    background-color: #00800073;
    margin-bottom: 20px;

}

.box1 {
    transition: width 2s;
}

.box1:hover {
    width: 300px;
}
.box2 {
    transition: width 1.5s, height 3s;
}
.box2:hover {
    height: 300px;
    width: 300px;
}
.box3 {
    transition: 2s linear ;
}

.box3:hover {
    width: 300px;
}
.box4 {
    transition: 2s ease ;
}

.box4:hover {
    width: 300px;
}
.box5 {
    transition: 2s ease-in ;
}

.box5:hover {
    width: 300px;
}
.box6 {
    transition: 2s ease-out ;
}

.box6:hover {
    width: 300px;
}
.box7 {
    transition: 2s ease-in-out ;
}

.box7:hover {
    width: 300px;
}
.back, .next{
    font-size: xx-large;
    display: block;
}