.fa-thin{
    content: "\f0a8";
    font-size: 160px;
    color:#858585;
    font-weight: 1000;
}
.new{
    color: #858585;
    font-weight: 1000;

}
.fa-duotone {
    font-weight: 1000;
    font-size: 20px;
    color: #858585;
}
.addtask1 {
    margin: auto;
    height: 140px;
    min-width: none;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    gap: 1em;
}
.parent-wrapper{
    width: 500px;
    height: 640px;
    margin: auto;
}
.boxhead {
    color: #00A5EC;
    font-weight: 500;
    font-size: 21.5px;
    text-align: center;
}

.child1 {
    height: 338px;
    width: 500px;
    border: 1px solid #67676729;
    border-radius: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.child-d {
    box-sizing: border-box;
    height: 72px;
    width: 464px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    gap: 45.02px;
}
.items {
    width: 464px;
}
.space{
    margin-left: 12px;
}
.makecenter{
    display: flex;
    flex-direction: row;
    align-items: center;
}